
<div class="container">

  <nav>
    <img src="assets/logo.jpg" class="logo" style="height: 100px;width: 25%" alt="">
    <ul>
      <li><a routerLink=""> Accueil</a></li>
      <li><a routerLink="block"> Block</a></li>
      <li><a routerLink="file"> File</a></li>
      <li><a routerLink="objet"> Objet</a></li>
    </ul>

  </nav>

  <div class="site-container">
    <p>Bienvenue à la</p>
    <h1>Présentation du Groupe Dev</h1>
    <!-- <h4>Projet 2:  Mettre en place une application de gestion des volumes du cluster Rook/Ceph</h4> -->
    <div class="row"   >
      <!--<a  (click)="navigateToDescription()"> Voir la description du projet </a>-->

      <!-- <a href="#"> Utiliser l'application </a> -->
      <span style="font-family: Algerian;">
             Presentées par&nbsp;:&nbsp;&nbsp;Fama Coundoul &nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;Fatoumata Oumou Khairy Sall
        </span>

    </div>

  </div>

  <div class="social-icons">
    <a href="https://www.linkedin.com/company/beopenit/"> <img src="assets/linkedin.png" alt="linkedin"> </a>
    <a href="https://twitter.com/beopenit"> <img src="assets/twitter.png" alt="twitter"> </a>

  </div>

</div>


